
:root {
    --bgColor: #8792c7;
    --borderColor: #0a0b0f;
    --buttonColor: #a8b0db;
    --hoverColor: #263272;
    --borderSize: .2rem;
    --defaultPadding: .6rem;
    --defaultRadius: .625rem;
    --defaultSolid: solid;
}

.jogPart {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}