
:root {
    --backgroundColor: #5572e7;
    --partsDistances: 2rem;
    --rightPartWidth: 20rem;

    --bgColor: #8792c7;
    --borderColor: #0a0b0f;
    --borderSize: .2em;
    --defaultPadding: .6em;
    --defaultRadius: .625em;
    --defaultSolid: solid;

    --buttonColor: #a8b0db;
    --buttonTextColor: #fafafd;
    --hoverColor: #263272;
    --buttonMinimalSize: 7em;
    --buttonMaximalSize: 15em;
    

    --colorGauge: #007113;
    --colorRuler: #aceaf9;
    --colorSpindle: #ace3f9;
}

body {
    display: grid;
    grid-template-columns: 1fr var(--rightPartWidth);
    grid-template-rows: auto 1fr;
    padding: var(--partsDistances);
}

nav { grid-column: 1 / -1; }


.jogPart {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: var(--partsDistances);
    margin: var(--partsDistances);
    gap: var(--partsDistances);
}

.jobGoingPart {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    margin: var(--partsDistances);
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--partsDistances);
}


.jobListPart {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    margin: var(--partsDistances);
    gap: var(--partsDistances);
}


.jogName {
    grid-column: 1 / -1;
}

.jobNameLabel {
    grid-column: 1 / -1;
}

.jobNameValue {
    grid-column: 1 / -1;
}


.jogButGrid {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}

.jogSpeeds {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}

.jogModel {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    position: relative;
}

.endstops {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}

.jobButtons {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}


.jobPicture {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}


.jobETA {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}


.jobInput {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}


.jobListAdd {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}

.jobList {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}


.jogModelCanvas {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}

.telemetry {
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
    position: absolute;
    right: 5px;
    bottom: 5px;
}


.jogPad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--defaultPadding);
    max-width: var(--buttonMaximalSize);
    max-height: var(--buttonMaximalSize);
    font-size: 1rem;
    gap: 0.5rem;
}

.jogPad Button {
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    border: var(--borderSize) var(--defaultSolid) var(--borderColor);
    border-color: var(--borderColor);
    border-radius: var(--defaultRadius);
    min-width: var(--buttonMinimalSize);
    min-height: var(--buttonMinimalSize);
}


.jogPad Button:hover {
    background-color: var(--hoverColor);
    transition: background-color 0.5s ease;
}



.spindleSizeArrow {
    width: 100%;
    height: 100px;
    max-width: 50px;
}

.speedSizeArrow {
    width: 100%;
    height: 100px;
    max-width: 50px;
}

.stepSizeArrow {
    width: 100%;
    height: 100px;
    max-width: 50px;
}