:root {
    --backgroundColor: #5572e7;
    --partsDistances: 2rem;
    --rightPartWidth: 20rem;

    --bgColor: #8792c7;
    --borderColor: #0a0b0f;
    --borderSize: .2em;
    --defaultPadding: .6em;
    --defaultMargin: 1em;
    --defaultRadius: .625em;
    --defaultSolid: solid;
    --maxWidth: 90%;
    --maxHeight: 90%;

    --buttonColor: #a8b0db;
    --buttonTextColor: #fafafd;
    --hoverColor: #263272;
    --buttonMinimalSize: 7em;
    --buttonMaximalSize: 15em;
    

    --colorGauge: #007113;
    --colorRuler: #aceaf9;
    --colorSpindle: #ace3f9;

    --endstopPressed: #ff8c8c;
    --endstopRealeased: #93f493;
    --endstopPressedBorder: #ff0000;
    --endstopRealeasedBorder: #00ff00;
    --endstopUndecided: #c8c8c8;
    --endstopUndecidedBorder: #000000;

    --cardBGColor: #777676;
}

main {
    display: grid;
    grid-template-columns: auto var(--rightPartWidth);
    grid-template-rows: auto auto;
    margin: var(--defaultMargin);
    gap: var(--partsDistances)
}

/* prvni level */
.upNav {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: sticky;
    padding: var(--defaultPadding);
    top: var(--defaultMargin);
    z-index: 10;
    border-bottom: var(--borderColor) var(--defaultSolid) var(--borderSize);
    background-color: var(--cardBGColor);
}

.jogPart {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: var(--defaultMargin);
    gap: var(--partsDistances)
}


.jobGoingPart {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--partsDistances);
    padding: var(--defaultPadding);
}


.jobListPart {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    grid-column: 2;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: max-content auto;
    gap: var(--partsDistances);
    position: sticky;
}

/*jog part*/

.jogButGrid {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--partsDistances);
    padding: var(--defaultMargin);
    grid-row: 1;
}

.jogButGrid button {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
}

.jogSpeeds {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    padding: var(--defaultPadding);
}

.endstops {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center; 
    gap: var(--partsDistances);
    padding: var(--defaultMargin);
}

.endstops div {
    border: var(--endstopUndecidedBorder) dashed var(--borderSize);
    border-radius: var(--defaultRadius);
    background-color: var(--endstopUndecided);
    display: grid;
    align-items: center;
    text-align: center;
}

.jogModel {
    position: relative;
    justify-items: center;
    align-items: end;
    margin: var(--defaultMargin);
    grid-row: 1;
    grid-column: 2/4;
    min-width: max-content;
    min-height: max-content;
}

.jogControlSpeed {
    display: grid;
    grid-template-rows: max-content content content;
    justify-content: start;
}


.jogSteps {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--partsDistances);
    margin: var(--defaultMargin);
    max-height: fit-content;
    justify-items: start;
    align-items: center;
}


.jogSpeed{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--partsDistances);
    margin: var(--defaultMargin);
    max-height: fit-content;
    justify-items: start;
    align-items: center;
}


.jogSpindle {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--partsDistances);
    margin: var(--defaultMargin);
    max-height: fit-content;
    justify-items: start;
    align-items: center;
}




/*job going part*/


.jobNameLabel {
    grid-row: 1;
    margin: var(--defaultMargin);
    display: grid;
    grid-template-columns: auto auto;
}


.jobPicture {
    grid-row: 2;
    grid-column: 2;
}


.jobPicture canvas {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    width: 100%;
    aspect-ratio: 2 / 1;
    max-width: 1460px;
}


.jobButtons {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--partsDistances);
    padding: var(--defaultPadding);
}


.jobETA {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    grid-row: 3;
    padding: var(--defaultPadding);
    display: grid;
    grid-template-columns: auto auto;
}



/*job list part*/

.jobListAdd {
    border-bottom: var(--borderColor) var(--defaultSolid) var(--borderSize);
    padding: var(--defaultMargin);
    display: grid;
}

.jobListAdd button {
    display: flex;
    justify-content: center;
    height: 75px;
}


body[data-joblist="closed"] .jobListPart {
  display: none;
}




/*model part*/

.telemetry {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    position: absolute;
    bottom: 12px;
    right: 5px;
    padding: var(--defaultPadding);
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    align-items: center;
}

.jogModelCanvas {
    border: var(--borderColor) var(--defaultSolid) var(--borderSize);
    border-radius: var(--defaultRadius);
    width: 100%;
    aspect-ratio: 2 / 1;
    max-width: 1460px;
}




/* mobil jiny*/


@media (max-width: 800px) {
    .jogModelCanvas{
        display: none;
    }

    .jogPart {
        border: var(--borderColor) var(--defaultSolid) var(--borderSize);
        border-radius: var(--defaultRadius);
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: var(--defaultMargin);
        gap: var(--partsDistances)
    }

    .jogButGrid {
        border: var(--borderColor) var(--defaultSolid) var(--borderSize);
        border-radius: var(--defaultRadius);
        display: grid;
        grid-row: 1;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--partsDistances);
        padding: var(--defaultMargin);
    }

    .jogSpeeds {
        border: var(--borderColor) var(--defaultSolid) var(--borderSize);
        border-radius: var(--defaultRadius);
        padding: var(--defaultPadding);
        grid-row: 2;
    }

    .endstops {
        border: var(--borderColor) var(--defaultSolid) var(--borderSize);
        border-radius: var(--defaultRadius);
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center; 
        gap: var(--partsDistances);
        padding: var(--defaultMargin);
        grid-row: 3;
    }

    .jogModel {
        justify-items: center;
        align-items: end;
        margin: var(--defaultMargin);
        min-width: max-content;
        min-height: max-content;
        grid-row: 4;
    }

    .telemetry {
        border: var(--borderColor) var(--defaultSolid) var(--borderSize);
        border-radius: var(--defaultRadius);
        padding: var(--defaultPadding);
        display: grid;
        grid-template-columns: auto auto;
        justify-items: start;
        align-items: center;
    }

    body[data-joblist="open"] .jogPart {
        display: none;
    }

    body[data-joblist="open"] .jobGoingPart {
        display: none;
    }

    body[data-joblist="open"] .main {
        display: grid;
        grid-template-columns: auto;
        margin: var(--defaultMargin);
        gap: var(--partsDistances)
    }
}